.category_detail {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 52px;
}
.product_items {
    width: 77%;
    padding: 19px 0;
}
.product_container {
    max-width: 100%;
 
}
.category-parent {
    padding: 20px 0 0 20px;
    font-size: 15px;
}
.category-parent h4 {
    font-size: 20px;
}
.category_container {
    height: 500px;
    /* margin-right: 10px; */
}
.content-items {
    width: 100%;
}
.product-content {
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
}
.shop .product img:hover {
    opacity: 0.6;
}
.price:hover {
    cursor: pointer;
}