.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}
.homeSlide p {
  margin: 20px 0;
}
.homeSlide ul {
  position: absolute;
  bottom: 20px;
}
.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}
.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}
.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.category-content {
  display: block;
  /* box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  width: 95%;
  margin: auto; */
}

.notcategory {
  display: none;
}

.category-title {
  cursor: pointer;
  padding: 6px 15px;
}
.category-title:hover {
  background-color: #ffe1e6;
}
.category-title span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category-title {
  color: #6c6c6c;
}
.category_parent {
  color: #333;
  /* justify-content: space-around; */
}
.category-icon {
  display: inline;
  font-size: 25px;
   margin-left: 80px;
}
.category_child {
  padding-left: 28px;
}
#btn_control:checked + label > div {
  justify-content: space-around;
}
.category-item {
  padding-top: 10px;
}
